<!DOCTYPE html>
<html ng-app lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Exercise 6</title>
  </head>
  <body>
    <button name="button" ng-click="text=true " ng-click="text=true">bouton 1</button>
    <button name="button" ng-click="text=false" ng-click="text=false">bouton 2</button>
    <p ng-hide="text">ahjeruizarneuyagnerugya rvgeay aieruhaiuhraiur aiihra iuhrai our aior aoiru a</p>
    <p ng-show="text">aierhauiz rg iuazr iauzg ruyag crzeahbrui aezgybr kjyabzui r</p>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
  </body>
</html>
